@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

*{
  border-radius: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: #000;
  min-height: 200vh;
  background-image: radial-gradient(center, ellipse cover, #27364f 0%, #112 50%, #112 100%);
  filter: 'progid:DXImageTransform.Microsoft.gradient( startColorstr=' #27364f ', endColorstr=' #112 ',GradientType=1 )';
  background-position: 50% 0%;
  background-size: 150vmax 150vmax;
  background-repeat: no-repeat;
  background-color: #112;
}
/* header */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
  }
  header.sticky{
    padding: 5px 100px;
    background: #fff;
  }
  header .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
  }
  header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header ul li{
    position: relative;
    list-style: none;
  }
  header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
  }
  /* ##readd this if you want an image as bg##
  .banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(Pictures/ggow.png);
    background-size: cover;
  }
  */
  header.sticky .logo,
  header.sticky ul li a{
    color: #000;
  }
/* buttons */

  /* Add media query for smaller screens */
  @media only screen and (max-width: 768px) {
    header ul li:not(:first-child) {
      display: none; /* Hide all shortcuts except the first one (Home) */
    }
  }
  
  /* Add media query for even smaller screens (e.g., phones) */
  @media only screen and (max-width: 480px) {
    header ul {
      justify-content: center; /* Center-align items */
    }
  
    header ul li {
      display: none; /* Hide all shortcuts */
    }
  
    header .logo {
      margin: 0 auto; /* Center the logo */
    }
  }

div.toggleinfo{
  display: flex;
  margin-top: 200px;
  margin-bottom: 50px;
  margin-left: 250px;
  opacity: 0; /* temp */
}
#toggle{
  position: relative;
  display: block;
  width: 80px;
  height: 40px;
  border-radius: 160px;
  background: #222;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: inset 0 8px 60px rgba(0,0,0,0.1),
              inset 0 8px 8px rgba(0,0,0,0.1),
              inset 0 -4px 4px rgba(0,0,0,0.1);
}
#toggle.active{
  background: #fff;
  box-shadow: inset 0 2px 60px rgba(0,0,0,0.1),
              inset 0 2px 8px rgba(0,0,0,0.1),
              inset 0 -4px 4px rgba(0,0,0,0.05);
}
#toggle .indicator{
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom, #444, #222);
  border-radius: 50%;
  transform: scale(0.9);
  box-shadow: 0 8px 40px rgba(0,0,0,0.5),
              inset 0 4px 4px rgba(255,255,255,0.2),
              inset 0 -4px 4px rgba(255,255,255,0.2);
  transition: 0.5s;
}
#toggle.active .indicator{
  left: 40px;
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1),
              inset 0 4px 4px rgba(255,255,255,1),
              inset 0 -4px 4px rgba(255,255,255,1);
}
div.toggletext {
  position: relative;
  float: left;
  bottom: 8px;
  padding: 15px;
  color: #fff;
}
div.toggletext a{
  color: #ee0a0a;
}

  /* pfps */

.container{
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}
div.gallery.active {
  display: inline-block;
  margin: 50px 27.5px;
  border: 3px solid #fff;
  border-radius: 50% / 35% 35% 0 0;
  width: 180px;
  zoom: 1.2;
}
div.gallery {
  display: none;
}

div.gallery:hover {
  box-shadow: inset 0 0 10px 1px rgb(0, 255, 234);
}

div.gallery img {
  width: 174px;
  height: 174px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}
div.gallery a{
  color: #ed3966;
}
div.desc {
  padding: 15px;
  text-align: center;
  color: #fff;
}

/* background */

.stars{
  position: fixed;
}
.stars .container {
  position: absolute;
  animation: stars linear infinite;
}
.stars .container .star {
  animation: twinkle linear infinite;
  border-radius: 100%;
  transform: translateZ(0);
}
.stars .container:nth-child(0) {
  width: 1px;
  height: 1px;
  left: 54vw;
  animation-delay: -995.6s;
  animation-duration: 336.6s;
}
.stars .container:nth-child(0) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.8s;
  animation-duration: 10.6s;
  background: rgba(240,252,126,0.7);
}
.stars .container:nth-child(1) {
  width: 3px;
  height: 3px;
  left: 69.5vw;
  animation-delay: -994s;
  animation-duration: 39.93333333333333s;
}
.stars .container:nth-child(1) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.8s;
  animation-duration: 34.1s;
  background: #eabc84;
}
.stars .container:nth-child(2) {
  width: 2px;
  height: 2px;
  left: 80.5vw;
  animation-delay: -995.4s;
  animation-duration: 124.6s;
}
.stars .container:nth-child(2) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.2s;
  animation-duration: 43.7s;
  background: rgba(248,150,242,0.8);
}
.stars .container:nth-child(3) {
  width: 3px;
  height: 3px;
  left: 37vw;
  animation-delay: -996.4s;
  animation-duration: 20.066666666666666s;
}
.stars .container:nth-child(3) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.6s;
  animation-duration: 33s;
  background: rgba(213,240,135,0.7);
}
.stars .container:nth-child(4) {
  width: 1px;
  height: 1px;
  left: 81.5vw;
  animation-delay: -991.8s;
  animation-duration: 343.8s;
}
.stars .container:nth-child(4) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.7s;
  animation-duration: 5.7s;
  background: rgba(248,253,121,0.9);
}
.stars .container:nth-child(5) {
  width: 2px;
  height: 2px;
  left: 85.5vw;
  animation-delay: -990.7s;
  animation-duration: 87.8s;
}
.stars .container:nth-child(5) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.9s;
  animation-duration: 25.8s;
  background: rgba(237,202,196,0.7);
}
.stars .container:nth-child(6) {
  width: 1px;
  height: 1px;
  left: 10vw;
  animation-delay: -992.4s;
  animation-duration: 50.8s;
}
.stars .container:nth-child(6) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.9s;
  animation-duration: 9.2s;
  background: rgba(234,246,163,0.9);
}
.stars .container:nth-child(7) {
  width: 1px;
  height: 1px;
  left: 34vw;
  animation-delay: -989.4s;
  animation-duration: 284.8s;
}
.stars .container:nth-child(7) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.2s;
  animation-duration: 46.3s;
  background: rgba(212,203,174,0.7);
}
.stars .container:nth-child(8) {
  width: 3px;
  height: 3px;
  left: 71vw;
  animation-delay: -996.6s;
  animation-duration: 114.39999999999999s;
}
.stars .container:nth-child(8) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.2s;
  animation-duration: 47.8s;
  background: rgba(243,165,102,0.8);
}
.stars .container:nth-child(9) {
  width: 1px;
  height: 1px;
  left: 3.5vw;
  animation-delay: -983.8s;
  animation-duration: 304.6s;
}
.stars .container:nth-child(9) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48s;
  animation-duration: 13.8s;
  background: rgba(210,171,106,0.8);
}
.stars .container:nth-child(10) {
  width: 1px;
  height: 1px;
  left: 5vw;
  animation-delay: -999s;
  animation-duration: 298.4s;
}
.stars .container:nth-child(10) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.8s;
  animation-duration: 42.8s;
  background: rgba(203,238,169,0.8);
}
.stars .container:nth-child(11) {
  width: 1px;
  height: 1px;
  left: 17vw;
  animation-delay: -984.4s;
  animation-duration: 292.4s;
}
.stars .container:nth-child(11) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.9s;
  animation-duration: 5.1s;
  background: rgba(251,214,168,0.9);
}
.stars .container:nth-child(12) {
  width: 2px;
  height: 2px;
  left: 25.5vw;
  animation-delay: -995.8s;
  animation-duration: 92.4s;
}
.stars .container:nth-child(12) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.4s;
  animation-duration: 38.7s;
  background: rgba(250,243,235,0.9);
}
.stars .container:nth-child(13) {
  width: 2px;
  height: 2px;
  left: 60.5vw;
  animation-delay: -992.1s;
  animation-duration: 167s;
}
.stars .container:nth-child(13) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.9s;
  animation-duration: 24.1s;
  background: #cab1bf;
}
.stars .container:nth-child(14) {
  width: 3px;
  height: 3px;
  left: 65.5vw;
  animation-delay: -994.8s;
  animation-duration: 96.33333333333333s;
}
.stars .container:nth-child(14) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.1s;
  animation-duration: 10.2s;
  background: rgba(233,151,217,0.7);
}
.stars .container:nth-child(15) {
  width: 3px;
  height: 3px;
  left: 44vw;
  animation-delay: -999.2666666666667s;
  animation-duration: 20.933333333333334s;
}
.stars .container:nth-child(15) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.8s;
  animation-duration: 37.3s;
  background: #d2b564;
}
.stars .container:nth-child(16) {
  width: 3px;
  height: 3px;
  left: 39vw;
  animation-delay: -999.7333333333333s;
  animation-duration: 68.13333333333334s;
}
.stars .container:nth-child(16) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.6s;
  animation-duration: 38.7s;
  background: rgba(206,183,192,0.9);
}
.stars .container:nth-child(17) {
  width: 3px;
  height: 3px;
  left: 95.5vw;
  animation-delay: -994.5333333333333s;
  animation-duration: 60.06666666666666s;
}
.stars .container:nth-child(17) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.2s;
  animation-duration: 38.7s;
  background: rgba(209,234,175,0.9);
}
.stars .container:nth-child(18) {
  width: 2px;
  height: 2px;
  left: 72.5vw;
  animation-delay: -994.8s;
  animation-duration: 104.1s;
}
.stars .container:nth-child(18) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.2s;
  animation-duration: 12.4s;
  background: #faf3f6;
}
.stars .container:nth-child(19) {
  width: 2px;
  height: 2px;
  left: 83.5vw;
  animation-delay: -993.6s;
  animation-duration: 63.7s;
}
.stars .container:nth-child(19) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.8s;
  animation-duration: 17.4s;
  background: rgba(210,220,153,0.9);
}
.stars .container:nth-child(20) {
  width: 3px;
  height: 3px;
  left: 53vw;
  animation-delay: -998.4666666666667s;
  animation-duration: 106.33333333333333s;
}
.stars .container:nth-child(20) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40s;
  animation-duration: 16s;
  background: #fbb2c1;
}
.stars .container:nth-child(21) {
  width: 2px;
  height: 2px;
  left: 63.5vw;
  animation-delay: -995.4s;
  animation-duration: 93s;
}
.stars .container:nth-child(21) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.2s;
  animation-duration: 20.4s;
  background: rgba(200,171,225,0.9);
}
.stars .container:nth-child(22) {
  width: 3px;
  height: 3px;
  left: 68.5vw;
  animation-delay: -999.4666666666667s;
  animation-duration: 35.666666666666664s;
}
.stars .container:nth-child(22) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.4s;
  animation-duration: 21.1s;
  background: #d0e36e;
}
.stars .container:nth-child(23) {
  width: 1px;
  height: 1px;
  left: 11.5vw;
  animation-delay: -991.2s;
  animation-duration: 368s;
}
.stars .container:nth-child(23) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.2s;
  animation-duration: 50s;
  background: #ddefb0;
}
.stars .container:nth-child(24) {
  width: 1px;
  height: 1px;
  left: 79vw;
  animation-delay: -999s;
  animation-duration: 103s;
}
.stars .container:nth-child(24) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.9s;
  animation-duration: 23.5s;
  background: rgba(232,195,190,0.8);
}
.stars .container:nth-child(25) {
  width: 3px;
  height: 3px;
  left: 2vw;
  animation-delay: -994.0666666666667s;
  animation-duration: 67.46666666666667s;
}
.stars .container:nth-child(25) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.5s;
  animation-duration: 14.3s;
  background: rgba(237,166,250,0.7);
}
.stars .container:nth-child(26) {
  width: 3px;
  height: 3px;
  left: 88.5vw;
  animation-delay: -994.8s;
  animation-duration: 52.93333333333334s;
}
.stars .container:nth-child(26) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.4s;
  animation-duration: 33.3s;
  background: rgba(237,222,169,0.7);
}
.stars .container:nth-child(27) {
  width: 2px;
  height: 2px;
  left: 48vw;
  animation-delay: -998s;
  animation-duration: 194.9s;
}
.stars .container:nth-child(27) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.2s;
  animation-duration: 47.7s;
  background: rgba(209,201,153,0.8);
}
.stars .container:nth-child(28) {
  width: 1px;
  height: 1px;
  left: 18vw;
  animation-delay: -986.8s;
  animation-duration: 79.6s;
}
.stars .container:nth-child(28) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.9s;
  animation-duration: 43.2s;
  background: #d8d792;
}
.stars .container:nth-child(29) {
  width: 2px;
  height: 2px;
  left: 94.5vw;
  animation-delay: -999.9s;
  animation-duration: 20.9s;
}
.stars .container:nth-child(29) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.4s;
  animation-duration: 13.9s;
  background: rgba(230,199,242,0.7);
}
.stars .container:nth-child(30) {
  width: 1px;
  height: 1px;
  left: 2.5vw;
  animation-delay: -993.2s;
  animation-duration: 76.8s;
}
.stars .container:nth-child(30) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.7s;
  animation-duration: 35.5s;
  background: rgba(224,200,171,0.8);
}
.stars .container:nth-child(31) {
  width: 1px;
  height: 1px;
  left: 49vw;
  animation-delay: -997.6s;
  animation-duration: 343.8s;
}
.stars .container:nth-child(31) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.2s;
  animation-duration: 42s;
  background: rgba(205,195,155,0.7);
}
.stars .container:nth-child(32) {
  width: 3px;
  height: 3px;
  left: 13vw;
  animation-delay: -993.5333333333333s;
  animation-duration: 71.39999999999999s;
}
.stars .container:nth-child(32) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41s;
  animation-duration: 40.4s;
  background: rgba(238,237,237,0.7);
}
.stars .container:nth-child(33) {
  width: 3px;
  height: 3px;
  left: 29vw;
  animation-delay: -996.6666666666666s;
  animation-duration: 16.400000000000002s;
}
.stars .container:nth-child(33) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.8s;
  animation-duration: 5.7s;
  background: rgba(208,211,126,0.9);
}
.stars .container:nth-child(34) {
  width: 2px;
  height: 2px;
  left: 18vw;
  animation-delay: -998.7s;
  animation-duration: 132.4s;
}
.stars .container:nth-child(34) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.7s;
  animation-duration: 29s;
  background: rgba(224,220,197,0.8);
}
.stars .container:nth-child(35) {
  width: 1px;
  height: 1px;
  left: 7.5vw;
  animation-delay: -992.8s;
  animation-duration: 196.2s;
}
.stars .container:nth-child(35) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.4s;
  animation-duration: 21.9s;
  background: rgba(251,176,158,0.7);
}
.stars .container:nth-child(36) {
  width: 3px;
  height: 3px;
  left: 70.5vw;
  animation-delay: -994.6s;
  animation-duration: 14.4s;
}
.stars .container:nth-child(36) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.5s;
  animation-duration: 5.6s;
  background: rgba(251,173,184,0.7);
}
.stars .container:nth-child(37) {
  width: 1px;
  height: 1px;
  left: 50.5vw;
  animation-delay: -988.2s;
  animation-duration: 352.8s;
}
.stars .container:nth-child(37) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.3s;
  animation-duration: 5.2s;
  background: rgba(206,154,241,0.8);
}
.stars .container:nth-child(38) {
  width: 3px;
  height: 3px;
  left: 93.5vw;
  animation-delay: -996.6s;
  animation-duration: 19.8s;
}
.stars .container:nth-child(38) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.9s;
  animation-duration: 46.4s;
  background: rgba(206,185,217,0.7);
}
.stars .container:nth-child(39) {
  width: 3px;
  height: 3px;
  left: 38vw;
  animation-delay: -994.9333333333333s;
  animation-duration: 116.2s;
}
.stars .container:nth-child(39) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.8s;
  animation-duration: 44.1s;
  background: rgba(245,152,183,0.9);
}
.stars .container:nth-child(40) {
  width: 3px;
  height: 3px;
  left: 20.5vw;
  animation-delay: -993.8s;
  animation-duration: 58.199999999999996s;
}
.stars .container:nth-child(40) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.7s;
  animation-duration: 12.3s;
  background: rgba(221,225,136,0.8);
}
.stars .container:nth-child(41) {
  width: 2px;
  height: 2px;
  left: 87vw;
  animation-delay: -991.2s;
  animation-duration: 108.8s;
}
.stars .container:nth-child(41) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.7s;
  animation-duration: 17.5s;
  background: rgba(239,246,220,0.9);
}
.stars .container:nth-child(42) {
  width: 3px;
  height: 3px;
  left: 87.5vw;
  animation-delay: -995s;
  animation-duration: 16.866666666666667s;
}
.stars .container:nth-child(42) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.8s;
  animation-duration: 33.1s;
  background: rgba(205,171,218,0.8);
}
.stars .container:nth-child(43) {
  width: 1px;
  height: 1px;
  left: 57vw;
  animation-delay: -987.2s;
  animation-duration: 260.8s;
}
.stars .container:nth-child(43) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.7s;
  animation-duration: 16.1s;
  background: #fdfec5;
}
.stars .container:nth-child(44) {
  width: 3px;
  height: 3px;
  left: 100vw;
  animation-delay: -996.8s;
  animation-duration: 106.60000000000001s;
}
.stars .container:nth-child(44) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.8s;
  animation-duration: 44.5s;
  background: rgba(228,157,159,0.9);
}
.stars .container:nth-child(45) {
  width: 3px;
  height: 3px;
  left: 18vw;
  animation-delay: -996.6s;
  animation-duration: 30.933333333333334s;
}
.stars .container:nth-child(45) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.6s;
  animation-duration: 11.9s;
  background: #d0e0b8;
}
.stars .container:nth-child(46) {
  width: 1px;
  height: 1px;
  left: 62vw;
  animation-delay: -997.4s;
  animation-duration: 315.2s;
}
.stars .container:nth-child(46) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.5s;
  animation-duration: 7.8s;
  background: #eeb2c2;
}
.stars .container:nth-child(47) {
  width: 1px;
  height: 1px;
  left: 51.5vw;
  animation-delay: -986.6s;
  animation-duration: 163.8s;
}
.stars .container:nth-child(47) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.5s;
  animation-duration: 7.1s;
  background: #f0f37f;
}
.stars .container:nth-child(48) {
  width: 2px;
  height: 2px;
  left: 73.5vw;
  animation-delay: -996.6s;
  animation-duration: 142.2s;
}
.stars .container:nth-child(48) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.2s;
  animation-duration: 15.4s;
  background: rgba(252,192,242,0.8);
}
.stars .container:nth-child(49) {
  width: 1px;
  height: 1px;
  left: 1.5vw;
  animation-delay: -981s;
  animation-duration: 94.6s;
}
.stars .container:nth-child(49) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.6s;
  animation-duration: 26.7s;
  background: rgba(221,161,243,0.7);
}
.stars .container:nth-child(50) {
  width: 3px;
  height: 3px;
  left: 48vw;
  animation-delay: -997.6666666666666s;
  animation-duration: 114.13333333333333s;
}
.stars .container:nth-child(50) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.6s;
  animation-duration: 28.1s;
  background: rgba(251,197,171,0.7);
}
.stars .container:nth-child(51) {
  width: 1px;
  height: 1px;
  left: 11.5vw;
  animation-delay: -998s;
  animation-duration: 385.6s;
}
.stars .container:nth-child(51) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.6s;
  animation-duration: 43s;
  background: rgba(253,194,192,0.7);
}
.stars .container:nth-child(52) {
  width: 1px;
  height: 1px;
  left: 7.5vw;
  animation-delay: -998.8s;
  animation-duration: 75.8s;
}
.stars .container:nth-child(52) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.2s;
  animation-duration: 20.6s;
  background: rgba(221,171,197,0.8);
}
.stars .container:nth-child(53) {
  width: 3px;
  height: 3px;
  left: 66vw;
  animation-delay: -998.4s;
  animation-duration: 64.93333333333334s;
}
.stars .container:nth-child(53) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.1s;
  animation-duration: 35.7s;
  background: rgba(244,237,137,0.9);
}
.stars .container:nth-child(54) {
  width: 3px;
  height: 3px;
  left: 11.5vw;
  animation-delay: -998.1333333333333s;
  animation-duration: 25.53333333333333s;
}
.stars .container:nth-child(54) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40s;
  animation-duration: 22.1s;
  background: #f7ada1;
}
.stars .container:nth-child(55) {
  width: 1px;
  height: 1px;
  left: 28.5vw;
  animation-delay: -986.6s;
  animation-duration: 41.4s;
}
.stars .container:nth-child(55) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42s;
  animation-duration: 5.9s;
  background: rgba(254,183,244,0.7);
}
.stars .container:nth-child(56) {
  width: 1px;
  height: 1px;
  left: 84vw;
  animation-delay: -992.2s;
  animation-duration: 376.6s;
}
.stars .container:nth-child(56) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.4s;
  animation-duration: 9.8s;
  background: rgba(227,187,137,0.7);
}
.stars .container:nth-child(57) {
  width: 1px;
  height: 1px;
  left: 3.5vw;
  animation-delay: -982s;
  animation-duration: 168s;
}
.stars .container:nth-child(57) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42s;
  animation-duration: 32.1s;
  background: rgba(200,213,245,0.7);
}
.stars .container:nth-child(58) {
  width: 1px;
  height: 1px;
  left: 58.5vw;
  animation-delay: -989.2s;
  animation-duration: 282s;
}
.stars .container:nth-child(58) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.1s;
  animation-duration: 34.8s;
  background: #cbf2de;
}
.stars .container:nth-child(59) {
  width: 3px;
  height: 3px;
  left: 0.5vw;
  animation-delay: -995.1333333333333s;
  animation-duration: 125.53333333333335s;
}
.stars .container:nth-child(59) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.8s;
  animation-duration: 44.1s;
  background: #d6ed66;
}
.stars .container:nth-child(60) {
  width: 3px;
  height: 3px;
  left: 32.5vw;
  animation-delay: -994.8s;
  animation-duration: 34.46666666666667s;
}
.stars .container:nth-child(60) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.6s;
  animation-duration: 6.7s;
  background: rgba(202,194,115,0.9);
}
.stars .container:nth-child(61) {
  width: 3px;
  height: 3px;
  left: 65.5vw;
  animation-delay: -994.0666666666667s;
  animation-duration: 85.39999999999999s;
}
.stars .container:nth-child(61) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.7s;
  animation-duration: 49.4s;
  background: rgba(203,253,151,0.9);
}
.stars .container:nth-child(62) {
  width: 1px;
  height: 1px;
  left: 5vw;
  animation-delay: -991.6s;
  animation-duration: 355.6s;
}
.stars .container:nth-child(62) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.4s;
  animation-duration: 16.6s;
  background: #d89ab8;
}
.stars .container:nth-child(63) {
  width: 2px;
  height: 2px;
  left: 7.5vw;
  animation-delay: -992.4s;
  animation-duration: 88.6s;
}
.stars .container:nth-child(63) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.1s;
  animation-duration: 22.5s;
  background: #fdbb8b;
}
.stars .container:nth-child(64) {
  width: 1px;
  height: 1px;
  left: 38vw;
  animation-delay: -985.2s;
  animation-duration: 361s;
}
.stars .container:nth-child(64) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.9s;
  animation-duration: 16.1s;
  background: rgba(245,217,125,0.7);
}
.stars .container:nth-child(65) {
  width: 2px;
  height: 2px;
  left: 38vw;
  animation-delay: -994.6s;
  animation-duration: 173.3s;
}
.stars .container:nth-child(65) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.3s;
  animation-duration: 20.5s;
  background: #e5daad;
}
.stars .container:nth-child(66) {
  width: 3px;
  height: 3px;
  left: 7vw;
  animation-delay: -995.8666666666667s;
  animation-duration: 99.06666666666666s;
}
.stars .container:nth-child(66) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.4s;
  animation-duration: 13s;
  background: rgba(247,179,212,0.7);
}
.stars .container:nth-child(67) {
  width: 2px;
  height: 2px;
  left: 52.5vw;
  animation-delay: -998.1s;
  animation-duration: 185.6s;
}
.stars .container:nth-child(67) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48s;
  animation-duration: 35.3s;
  background: #d8ddc5;
}
.stars .container:nth-child(68) {
  width: 2px;
  height: 2px;
  left: 44.5vw;
  animation-delay: -990.6s;
  animation-duration: 65.2s;
}
.stars .container:nth-child(68) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.9s;
  animation-duration: 32.7s;
  background: rgba(228,225,128,0.8);
}
.stars .container:nth-child(69) {
  width: 1px;
  height: 1px;
  left: 47vw;
  animation-delay: -999.6s;
  animation-duration: 356.2s;
}
.stars .container:nth-child(69) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.1s;
  animation-duration: 28s;
  background: rgba(244,210,195,0.9);
}
.stars .container:nth-child(70) {
  width: 1px;
  height: 1px;
  left: 84.5vw;
  animation-delay: -986s;
  animation-duration: 377s;
}
.stars .container:nth-child(70) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40s;
  animation-duration: 45.5s;
  background: rgba(247,173,130,0.7);
}
.stars .container:nth-child(71) {
  width: 2px;
  height: 2px;
  left: 99vw;
  animation-delay: -998.8s;
  animation-duration: 105.7s;
}
.stars .container:nth-child(71) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.6s;
  animation-duration: 6s;
  background: rgba(230,174,210,0.7);
}
.stars .container:nth-child(72) {
  width: 3px;
  height: 3px;
  left: 65.5vw;
  animation-delay: -994.2s;
  animation-duration: 112.26666666666667s;
}
.stars .container:nth-child(72) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.9s;
  animation-duration: 23.9s;
  background: #cebdce;
}
.stars .container:nth-child(73) {
  width: 2px;
  height: 2px;
  left: 46.5vw;
  animation-delay: -996.2s;
  animation-duration: 177.1s;
}
.stars .container:nth-child(73) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.1s;
  animation-duration: 49s;
  background: rgba(202,166,162,0.9);
}
.stars .container:nth-child(74) {
  width: 2px;
  height: 2px;
  left: 14.5vw;
  animation-delay: -991.1s;
  animation-duration: 32.8s;
}
.stars .container:nth-child(74) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.8s;
  animation-duration: 20.6s;
  background: #dede77;
}
.stars .container:nth-child(75) {
  width: 1px;
  height: 1px;
  left: 25.5vw;
  animation-delay: -985.4s;
  animation-duration: 369s;
}
.stars .container:nth-child(75) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.3s;
  animation-duration: 36.5s;
  background: rgba(241,188,169,0.8);
}
.stars .container:nth-child(76) {
  width: 1px;
  height: 1px;
  left: 97.5vw;
  animation-delay: -990.6s;
  animation-duration: 240.6s;
}
.stars .container:nth-child(76) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.4s;
  animation-duration: 45.1s;
  background: #eefd96;
}
.stars .container:nth-child(77) {
  width: 1px;
  height: 1px;
  left: 62.5vw;
  animation-delay: -990.8s;
  animation-duration: 245.8s;
}
.stars .container:nth-child(77) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.3s;
  animation-duration: 16.3s;
  background: #f7ebc0;
}
.stars .container:nth-child(78) {
  width: 2px;
  height: 2px;
  left: 29.5vw;
  animation-delay: -993.4s;
  animation-duration: 194.8s;
}
.stars .container:nth-child(78) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.5s;
  animation-duration: 20.4s;
  background: rgba(228,178,134,0.9);
}
.stars .container:nth-child(79) {
  width: 2px;
  height: 2px;
  left: 44.5vw;
  animation-delay: -997.6s;
  animation-duration: 56.1s;
}
.stars .container:nth-child(79) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.6s;
  animation-duration: 22.3s;
  background: #d19bf8;
}
.stars .container:nth-child(80) {
  width: 3px;
  height: 3px;
  left: 66.5vw;
  animation-delay: -998.3333333333334s;
  animation-duration: 25.2s;
}
.stars .container:nth-child(80) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.8s;
  animation-duration: 13.5s;
  background: rgba(206,248,147,0.8);
}
.stars .container:nth-child(81) {
  width: 3px;
  height: 3px;
  left: 95.5vw;
  animation-delay: -994.2666666666667s;
  animation-duration: 86.13333333333333s;
}
.stars .container:nth-child(81) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.7s;
  animation-duration: 26.4s;
  background: #cce3e1;
}
.stars .container:nth-child(82) {
  width: 2px;
  height: 2px;
  left: 7.5vw;
  animation-delay: -995.4s;
  animation-duration: 21.7s;
}
.stars .container:nth-child(82) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.7s;
  animation-duration: 7s;
  background: rgba(219,245,246,0.9);
}
.stars .container:nth-child(83) {
  width: 3px;
  height: 3px;
  left: 96.5vw;
  animation-delay: -995.9333333333333s;
  animation-duration: 96.73333333333333s;
}
.stars .container:nth-child(83) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.6s;
  animation-duration: 21.5s;
  background: rgba(231,251,209,0.8);
}
.stars .container:nth-child(84) {
  width: 2px;
  height: 2px;
  left: 58.5vw;
  animation-delay: -998.9s;
  animation-duration: 193.6s;
}
.stars .container:nth-child(84) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.9s;
  animation-duration: 14s;
  background: rgba(237,222,105,0.7);
}
.stars .container:nth-child(85) {
  width: 3px;
  height: 3px;
  left: 67vw;
  animation-delay: -994.3333333333334s;
  animation-duration: 108s;
}
.stars .container:nth-child(85) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.2s;
  animation-duration: 11.1s;
  background: rgba(216,163,220,0.9);
}
.stars .container:nth-child(86) {
  width: 3px;
  height: 3px;
  left: 98.5vw;
  animation-delay: -999.6s;
  animation-duration: 29s;
}
.stars .container:nth-child(86) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.2s;
  animation-duration: 41.7s;
  background: rgba(211,244,119,0.9);
}
.stars .container:nth-child(87) {
  width: 3px;
  height: 3px;
  left: 12.5vw;
  animation-delay: -998.8s;
  animation-duration: 122.33333333333333s;
}
.stars .container:nth-child(87) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.1s;
  animation-duration: 16.9s;
  background: rgba(207,223,226,0.8);
}
.stars .container:nth-child(88) {
  width: 1px;
  height: 1px;
  left: 49.5vw;
  animation-delay: -990.2s;
  animation-duration: 383.6s;
}
.stars .container:nth-child(88) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41s;
  animation-duration: 14.1s;
  background: #d99d84;
}
.stars .container:nth-child(89) {
  width: 3px;
  height: 3px;
  left: 38vw;
  animation-delay: -996.8666666666667s;
  animation-duration: 115.26666666666667s;
}
.stars .container:nth-child(89) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.5s;
  animation-duration: 45.8s;
  background: rgba(232,235,124,0.7);
}
.stars .container:nth-child(90) {
  width: 3px;
  height: 3px;
  left: 11vw;
  animation-delay: -999.8666666666667s;
  animation-duration: 49.800000000000004s;
}
.stars .container:nth-child(90) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.4s;
  animation-duration: 21.4s;
  background: #e8c6f0;
}
.stars .container:nth-child(91) {
  width: 2px;
  height: 2px;
  left: 74.5vw;
  animation-delay: -991.9s;
  animation-duration: 46.2s;
}
.stars .container:nth-child(91) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.3s;
  animation-duration: 28.9s;
  background: rgba(226,169,251,0.9);
}
.stars .container:nth-child(92) {
  width: 2px;
  height: 2px;
  left: 67.5vw;
  animation-delay: -993.5s;
  animation-duration: 157.7s;
}
.stars .container:nth-child(92) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.8s;
  animation-duration: 20.6s;
  background: rgba(246,169,122,0.8);
}
.stars .container:nth-child(93) {
  width: 3px;
  height: 3px;
  left: 41.5vw;
  animation-delay: -999.5333333333333s;
  animation-duration: 102.13333333333333s;
}
.stars .container:nth-child(93) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.4s;
  animation-duration: 29.3s;
  background: rgba(200,225,139,0.7);
}
.stars .container:nth-child(94) {
  width: 3px;
  height: 3px;
  left: 64vw;
  animation-delay: -993.4s;
  animation-duration: 99.73333333333333s;
}
.stars .container:nth-child(94) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.2s;
  animation-duration: 13.3s;
  background: #e8a2d1;
}
.stars .container:nth-child(95) {
  width: 3px;
  height: 3px;
  left: 9vw;
  animation-delay: -994.5333333333333s;
  animation-duration: 102.39999999999999s;
}
.stars .container:nth-child(95) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.1s;
  animation-duration: 9.6s;
  background: #fc9cc7;
}
.stars .container:nth-child(96) {
  width: 2px;
  height: 2px;
  left: 98.5vw;
  animation-delay: -999.3s;
  animation-duration: 127.9s;
}
.stars .container:nth-child(96) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.4s;
  animation-duration: 40.7s;
  background: rgba(205,175,139,0.9);
}
.stars .container:nth-child(97) {
  width: 3px;
  height: 3px;
  left: 40.5vw;
  animation-delay: -996.4s;
  animation-duration: 108.66666666666667s;
}
.stars .container:nth-child(97) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.5s;
  animation-duration: 48.8s;
  background: #e0dae5;
}
.stars .container:nth-child(98) {
  width: 3px;
  height: 3px;
  left: 98.5vw;
  animation-delay: -995.7333333333333s;
  animation-duration: 123.39999999999999s;
}
.stars .container:nth-child(98) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.9s;
  animation-duration: 5.8s;
  background: rgba(223,204,237,0.9);
}
.stars .container:nth-child(99) {
  width: 2px;
  height: 2px;
  left: 90vw;
  animation-delay: -992.7s;
  animation-duration: 103.8s;
}
.stars .container:nth-child(99) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40s;
  animation-duration: 48.2s;
  background: rgba(207,203,151,0.8);
}
.stars .container:nth-child(100) {
  width: 2px;
  height: 2px;
  left: 20.5vw;
  animation-delay: -990s;
  animation-duration: 21.4s;
}
.stars .container:nth-child(100) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.7s;
  animation-duration: 38.5s;
  background: rgba(220,224,146,0.9);
}
@-moz-keyframes stars {
  0% {
    transform: translateY(110vh) translateZ(0);
  }
  100% {
    transform: translateY(-10vh) translateZ(0);
  }
}
@-webkit-keyframes stars {
  0% {
    transform: translateY(110vh) translateZ(0);
  }
  100% {
    transform: translateY(-10vh) translateZ(0);
  }
}
@-o-keyframes stars {
  0% {
    transform: translateY(110vh) translateZ(0);
  }
  100% {
    transform: translateY(-10vh) translateZ(0);
  }
}
@keyframes stars {
  0% {
    transform: translateY(110vh) translateZ(0);
  }
  100% {
    transform: translateY(-10vh) translateZ(0);
  }
}
@-moz-keyframes twinkle {
  0%, 80%, 100% {
    opacity: 0.7;
    box-shadow: 0 0 0 #fff, 0 0 0 #fff;
  }
  95% {
    opacity: 1;
    box-shadow: 0 0 2px #fff, 0 0 4px #fff;
  }
}
@-webkit-keyframes twinkle {
  0%, 80%, 100% {
    opacity: 0.7;
    box-shadow: 0 0 0 #fff, 0 0 0 #fff;
  }
  95% {
    opacity: 1;
    box-shadow: 0 0 2px #fff, 0 0 4px #fff;
  }
}
@-o-keyframes twinkle {
  0%, 80%, 100% {
    opacity: 0.7;
    box-shadow: 0 0 0 #fff, 0 0 0 #fff;
  }
  95% {
    opacity: 1;
    box-shadow: 0 0 2px #fff, 0 0 4px #fff;
  }
}
@keyframes twinkle {
  0%, 80%, 100% {
    opacity: 0.7;
    box-shadow: 0 0 0 #fff, 0 0 0 #fff;
  }
  95% {
    opacity: 1;
    box-shadow: 0 0 2px #fff, 0 0 4px #fff;
  }
}