@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

*{
    border-radius: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    min-height: 200vh;
}

/* header */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}
  header.sticky{
    padding: 5px 100px;
    background: #fff;
}
  header .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
  header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
  header ul li{
    position: relative;
    list-style: none;
}
  header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
  header.sticky .logo,
  header.sticky ul li a{
    color: #000;
}

/* Intro animation */

.bc{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.icontainer{
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icontainer .ibox{
    transform-style: preserve-3d;
    animation: animate 25s linear infinite;
}
.icontainer:hover{
    opacity: 0.45;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
@keyframes animate{
    0%{
        transform: perspective(1200px) rotateX(0deg) rotate(5deg);
    }
    100%{
        transform: perspective(1200px) rotateX(360deg) rotate(5deg);
    }
}
.icontainer .ibox span{
    position: absolute;
    color: #fff;
    font-size: 4.5em;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 900;
    padding: 0 10px;
    background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.5), transparent);
    line-height: 0.76em;
    transform-style: preserve-3d;
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    transform: translate(-50%, -50%) rotateX(calc(var(--i) * 22.5deg)) translateZ(138px);
}
.icontainer .ibox span a:nth-child(1){
    font-style: initial;
    color: #12b5ff;
}
.icontainer .ibox span a:nth-child(2){
    font-style: initial;
    color: #ff246f;
}

/* Profiles containers */

.divdesc1:before{
    position: absolute;
}
.divdesc1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    top: 100px;
    left: 0;
    width: 50%;
    zoom: 2;
}
.divdesc1 img{
    position: relative;
    padding: 10px 10px;
    width: 80px;
    height: auto;
}
.divdesc1 h1{
    position: relative;
    padding: 0 10px;
    font-weight: 800;
    width: 400px;
}
.divdesc1 h4{
    position: relative;
    padding: 0 10px;
    font-weight: 200;
    height: 10px;
    width: 100%;
    top: 0;
    left: 0;
}
.div1{
    position: absolute;
}
.container{
    position: relative;
    top: 800px;
    left: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .card{
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
    margin: 35px;
}
.container .card:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #8b28dc;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}
.container .card:nth-child(2):before{
    background: #f55396;
}
.container .card:nth-child(3):before{
    background: #ff0000;
}
.container .card:hover:before{
    clip-path: circle(300px at 80% -20%);
}
.container .card:after{
    content: "Discord";
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}
.container .card .imgBx{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.6s;
}
.container .card:hover .imgBx{
    top: 0%;
    transform: translateY(0%);
}
.container .card .imgBx img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path: circle();
    width: 100%;
}
.container .card:nth-child(2) .imgBx img{
    width: 60%;
}
.container .card:nth-child(3) .imgBx img{
    width: 355%;
    left: 22%;
    clip-path: circle(13% at 59% 50%);
}
.container .card .contentBx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}
.container .card:hover .contentBx{
    height: 210px;
}
.container .card .contentBx h2{
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}
.container .card .contentBx .desc{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.container .card:hover .contentBx .desc{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.4s;
}
.container .card .contentBx .desc h4{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}
.container .card .contentBx button{
    border: none;
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}
.container .card:hover .contentBx button{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.5s;
}
.container .card .contentBx button:active{
    background-color: #333;
    color: #fff;
    transition-delay: 0s;
    transition: 0s;
}

/* footer */

footer{
    position: absolute;
    display: flex;
    color: #fff;
    bottom: 0;
    left: 0;
}