@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

*{
  border-radius: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  display: flex;
  background: #333;
  min-height: 200vh;
}

/* header */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}
  header.sticky{
    padding: 5px 100px;
    background: #fff;
}
  header .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
  header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
  header ul li{
    position: relative;
    list-style: none;
}
  header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
  header.sticky .logo,
  header.sticky ul li a{
    color: #000;
}

/* pages */

.main{
  top: 0;
  height: 100%;
  width: 100%;
}
.main .page{
  height: 1000px;
  background: #666;
}

/* kirito */

.kirito #kirito1{
  position: relative;
  
}

/* transition tkirito */

.main .transition{
  height: 500px;
  padding: 50px 0px;
}
.main .transition .tkirito{
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
}