@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

*{
  border-radius: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  display: flex;
  background: #333;
  min-height: 200vh;
}

/* header */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}
  header.sticky{
    padding: 5px 100px;
    background: #fff;
}
  header .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
  header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
  header ul li{
    position: relative;
    list-style: none;
}
  header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
  header.sticky .logo,
  header.sticky ul li a{
    color: #000;
}

/* pages */

.main{
  top: 0;
  height: 100%;
  width: 100%;
}
.main .page{
  height: 100vh;
  background: #000;
}

/* kirito */
.kirito{
  position: relative;
  top: 20%;
  height: 100%;
  width: 100%;
  background-color: #000;
  
}
@media only screen and (min-height: 500px){
  .kirito {
    zoom: .5;
  }
}
@media only screen and (min-height: 600px) {
  .kirito {
    zoom: .75;        
  }
}
@media only screen and (min-height: 900px) {
  .kirito {
    zoom: 1;
  }
}
@media only screen and (min-height: 1000px) {
  .kirito {
    zoom: 1.15;
  }
}
.kirito #kirito0{
  position: absolute;
  object-fit: none;
  object-position: 38% 30%;
  height: 1000px;
  width: 1000px;
  transform: scale(0.25);
  top: -285px;
  left: 150px;
  z-index: 10;
}
.kirito #kirito1{
  position: absolute;
  object-fit: none;
  object-position: 52% 0;
  height: 1000px;
  width: 200px;
  transform: scale(0.65);
  top: -210px;
  left: 178px;
  z-index: 10;
}
.kirito #kirito2{
  position: absolute;
  object-fit: none;
  object-position: 58% 0;
  height: 800px;
  width: 550px;
  transform: scale(0.35);
  top: 160px;
  left: 35px;
  z-index: 10;
}
.kirito #kstyle0{
  position: absolute;
  height: 300px;
  width: auto;
  transform: rotate(180deg);
  top: 400px;
  left: 500px;
  z-index: 1;
}
.kirito #kstyle1{
  position: absolute;
  height: 199px;
  width: 600px;
  object-fit: none;
  object-position: 0 0;
  top: 180px;
  left: 250px;
  z-index: 1;
}
.kirito #kstyle2{
  position: absolute;
  height: 1000px;
  width: 100px;
  object-fit: none;
  object-position: 15% 0;
  top: 0;
  left: 110px;
  z-index: 1;
}
.kirito #kname{
  position: absolute;
  color: #fff;
  letter-spacing: 0.4em;
  font-weight: 800;
  font-size: 100px;
  top: -50px;
  left: 325px;
  z-index: 11;
}

.kiritodesc{
  position: absolute;
  min-height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  right: 10%;
  width: 30%;
}
.kiritodesc h2{
  color: #fff;
  font-size: 1.5em;
  cursor: default;
}
.light{
  position: fixed;
  top: 0;
  Left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(circle at var(--x) var(--y), transparent 10%, rgba(0,0,0) 20%);
}

/* transition tkirito */

.main .transition{
  height: 500px;
  padding: 50px 0px;
  z-index: 0;
}
.main .transition .tkirito{
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* Fix transition  +  refresh light*/
}